<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title min-width="600" min-heigth="500">@ViewBag.Title - Task 4</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>

<body>
   
    <div class="h-25">
        <div class="d-block offset-1">
            @RenderSection("Navbar_Main", false)
        </div>
        <h4 class="offset-1">@ViewBag.Title</h4>

        <hr />
    </div>

    
    <div class="container body-content align-content-center pb-3">
        <div class="btn-toolbar d-block " role="toolbar">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                @RenderSection("Navbar", false)
            </div>
        </div>
    @RenderSection("Center", false)</div>
    <div class="fixed-bottom">
        <hr />
        <footer class="">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <scripts src="~/bundles/jquery"></scripts>
    @RenderSection("scripts", required: false)
</body>
</html>